venv/
PB/PB/Accounts/__pycache__/
PB/PB/Accounts/migrations/__pycache__/
# backend/PB/Accounts/migrations/*.py
PB/PB/Studios/__pycache__/
PB/PB/Studios/migrations/__pycache__/
# backend/PB/Studios/migrations/*.py
PB/PB/Subscriptions/__pycache__/
PB/PB/Subscriptions/migrations/__pycache__/
# backend/PB/Subscriptions/migrations/*.py
PB/PB/PB/__pycache__/
PB/PB/db.sqlite3
PB/PB/venv
PF/node_modules