venv/
backend/PB/Accounts/__pycache__/
backend/PB/Accounts/migrations/__pycache__/
# backend/PB/Accounts/migrations/*.py
backend/PB/Studios/__pycache__/
backend/PB/Studios/migrations/__pycache__/
# backend/PB/Studios/migrations/*.py
backend/PB/Subscriptions/__pycache__/
backend/PB/Subscriptions/migrations/__pycache__/
# backend/PB/Subscriptions/migrations/*.py
backend/PB/PB/__pycache__/
# PB/PB/db.sqlite3
backend/PB/venv
frontend/node_modules
tfit309.pem